@CHARSET "UTF-8";

/* COLUMNS */
.all-panel   { width:955px; margin:0 0 40px; padding:0 23px 0 0; float:left;}
.right-panel { width:300px; margin:0; padding:0; float:left;}
    .right-panel .block{
      margin-bottom: 20px;
    }

.left-panel  { width:645px; margin:0 0 40px; padding:0 35px 0 0; float:left;}
    div#content .announcement h1 {padding:0;}
    div#content .left-panel p.description {padding:10px 0 30px;}
div.events .block{ width:295px; margin:0; padding:0 23px 20px 0; float:left; text-align: justify;}
    div#content .events .block h3{padding:0;}


  div#content_data div.left-panel table{
    width: 100%; height: 100%;
    border-spacing:10px 10px;
  }
    div#content_data div.left-panel table th, div#content_data div.left-panel table td{
      text-align: justify;
      vertical-align: top;
    }
    div#content_data div.left-panel table th{
      font-size:15px;
    }

    .col { 
        float: left; 
        display: inline; 
    }

    .col h2.notext { height: 26px; }
    .col .content { padding: 5px 0 0 5px; }
    .col .content p{ text-align: justify;}
    .two-cols, .three-cols, .four-cols{ padding: 28px 0 24px; float: left; }
      .two-cols .last, div#content .three-cols .last, div#content .four-cols .last { padding:0; margin:0;}
      .col_description { height: 135px; border-bottom: 1px solid #D4D4D4; }

    /* 2 cols */
        .two-cols .col { width: 310px;}
        .two-cols .col-equal { width: 460px; margin: 0 10px; }
        .two-cols .col-left { width: 620px; margin-right: 18px; }
        .two-cols .col-right { width: 620px; padding-left:18px; }

    /* 3 cols */
        .three-cols .col { 
            width: 300px; 
            margin-right: 40px; 
        }
    /* 4 cols */
        .four-cols .col { 
            width: 220px; 
            margin: 0 10px; 
        }
