@CHARSET "UTF-8";

/* COLUMNS */
.all-panel   { width:980px; margin:0 0 40px; float:left;}
.right-panel { width:290px; margin:0; padding:0; float:left;}
    .right-panel .block{ margin-bottom: 20px; float: left; }
    .right-panel .block h1{width: 290px;}
    .right-panel .block h2{
      border:none !important;
      font-size:11px !important;
      margin:0px !important; padding:0px !important;
      font-family: verdana; 
    }
      .right-panel .site_operation_hours ul{
        margin-bottom:10px;
      }

    body div.container div#content div#content_data div.right-panel .social_networks h2{
      font-size: 0;
      line-height: 0;
      float: left;
      margin-right: 18px !important;
    }
    body div.container div#content div#content_data div.right-panel .social_networks h2.no-margin{
      margin: 0 !important;
    }
      div.social_networks h2 a.facebook, div.social_networks h2 a.twitter,
      div.social_networks h2 a.youtube, div.social_networks h2 a.gplus {
        display: block;
        height: 15px; width: 66px;
        text-indent: -4000px;
        background: url(/skin/v1/default/light-blue/art/icons/social-networks.png) no-repeat scroll 0 -16px transparent;
      }
        div.social_networks h2 a.twitter{background-position: -68px -16px !important;}
        div.social_networks h2 a.youtube{background-position: -136px -22px !important; height: 21px; width: 49px;}
        div.social_networks h2 a.gplus{background-position: -188px -21px !important; height: 20px; width: 54px;}

        div.social_networks h2 a.facebook:hover{background-position: 0 -31px !important;}
        div.social_networks h2 a.twitter:hover{background-position: -68px -31px !important;}
        div.social_networks h2 a.youtube:hover{background-position: -136px -43px !important;}
        div.social_networks h2 a.gplus:hover{background-position: -188px -41px !important;}

      .right-panel .site_email_manager h2 span{
        background-image: url(/skin/v1/default/light-blue/art/site_emails/emails.png) !important; background-repeat:no-repeat; height:25px;
      }
      .right-panel .site_email_manager h2 span.email-contact{background-position: 0 -5px;}
      .right-panel .site_email_manager h2 span.email-admin{background-position: 0 -28px;}

    .right-panel .bible_search{
      padding: 0 20px;
      height:255px;
      background: url(/skin/v1/default/light-blue/art/bks/holy-bible.png) no-repeat center transparent;
    }
      .right-panel .bible_search h1, .right-panel .bible_search h1 span{
        color: #fff !important;
      }
        .right-panel .bible_search h1{
          padding-top:10px !important;
        }

    .right-panel div.block.latest-guestbook article{
      float: left;
      margin-bottom: 10px;
      width: 290px;
      background-color: #F2F2F2;
    }
    .right-panel div.block.latest-comments article{
      float: left;
      margin-bottom: 10px;
      padding: 10px 0 10px 10px;
      width: 280px;
    }
      .right-panel div.block.latest-comments article{
        background: url(/skin/v1/default/light-blue/art/icons/comment.png) no-repeat top left #f2f2f2;
      }
      .right-panel div.block article time, .right-panel div.block article cite{
        float: right;
        font-size: 0.8em;
        color: black;
      }
      .right-panel div.block article p{
        clear:both;
        text-align: justify;
      }
        .right-panel div.block article p a{
          text-decoration: none;
          color: #777;
        }
        .right-panel div.block article p a:hover{ color: #444; }
        .right-panel div.block.latest-comments article span{ background-image: url(/skin/v1/default/light-blue/art/icons/icons.png) !important; background-repeat:no-repeat; height:18px;  }
        .right-panel div.block.latest-comments article span.like { background-position: 0 2px; padding-left: 20px !important; }
        .right-panel div.block.latest-comments article span.dislikes{ background-position: 0 2px; padding-left: 20px !important; }

        .right-panel div.block.latest-guestbook article p a span{
          display: block;
          float:left;
          background: transparent url(/skin/v1/default/light-blue/art/icons/gender.png) no-repeat 0 0 !important;
          width: 63px;
          height: 60px;
        }
        .right-panel div.block.latest-guestbook article p a span.female{ background-position: -57px 0px !important; }

    .right-panel div.block.bible-phrase{ background: transparent url(/skin/v1/default/light-blue/art/bks/phrase.png) repeat-y; padding: 10px 0; }
    .right-panel div.block.bible-phrase h1{font: 12px/21px "Lucida Sans Unicode","Lucida Grande",Tahoma,verdana,arial; text-align:justify; color: #000000 !important;}


.left-panel { width:670px; margin:0 0 40px; padding:0 20px 0 0; float:left;}
    div#content .announcement h1 {padding:0;}
    div#content .left-panel p.description {padding:10px 0 30px;}

div.announcement .block, div.events .block{ width:295px; margin:0 0 15px; padding:0 15px; float:left; text-align: justify; height: 250px;}
    div#content .announcement .block h3, div#content .events .block h3{padding:0;}


  div#content_data div.left-panel table{
    width: 100%; height: 100%;
    border-spacing:10px 10px;
  }
    div#content_data div.left-panel table th, div#content_data div.left-panel table td{
      text-align: justify;
      vertical-align: top;
    }
    div#content_data div.left-panel table th{
      font-size:15px;
    }

    .col { 
        float: left; 
        display: inline; 
    }

    .col h2.notext { height: 26px; }
    .col .content { padding: 5px 0 0 5px; }
    .col .content p{ text-align: justify;}
    .two-cols, .three-cols, .four-cols{ padding: 28px 0 24px; float: left; }
      .two-cols .last, div#content .three-cols .last, div#content .four-cols .last { padding:0; margin:0;}
      .col_description { height: 90px; border-bottom: 1px solid #D4D4D4; font-size: 13px; }

    /* 2 cols */
        .two-cols .col { width: 310px;}
        .two-cols .col-equal { width: 460px; margin: 0 10px; }
        .two-cols .col-left { width: 620px; margin-right: 18px; }
        .two-cols .col-right { width: 620px; padding-left:18px; }

    /* 3 cols */
        .three-cols .col { 
            width: 300px; 
            margin-right: 40px; 
        }
    /* 4 cols */
        .four-cols .col { 
            width: 220px; 
            margin: 0 10px; 
        }
