@CHARSET "UTF-8";

/* COLUMNS */
.all-panel   { width:955px; margin:0 0 40px; padding:0 23px 0 0; float:left;}
.right-panel { width:300px; margin:0; padding:0; float:left;}
    .right-panel .block{
      margin-bottom: 20px;
    }
    .right-panel .block h2{
      border:none !important;
      font-size:11px !important;
      margin:0px !important; padding:0px !important;
    }
      .right-panel .site_operation_hours ul{
        margin-bottom:10px;
      }

    .right-panel .social_networks h2{
      width: 32px;
      font-size: 0;
      line-height: 0;
      float: left;
      margin-right: 10px !important;
    }
      div.social_networks h2 a.facebook, div.social_networks h2 a.twitter,
      div.social_networks h2 a.youtube, div.social_networks h2 a.gplus {
        display: block;
        height: 32px;
        text-indent: -4000px;
        background: url(/skin/v1/default/light-blue/art/icons/social-networks.png) no-repeat scroll 0 0 transparent;
      }
        div.social_networks h2 a.twitter{background-position: -32px 0 !important;}
        div.social_networks h2 a.youtube{background-position: -64px 0 !important;}
        div.social_networks h2 a.gplus{background-position: -96px 0 !important;}

      .right-panel .site_email_manager h2 span{
        background-image: url(/skin/v1/default/light-blue/art/site_emails/emails.png) !important; background-repeat:no-repeat; height:25px;
      }
      .right-panel .site_email_manager h2 span.email-contact{background-position: 0 -5px;}
      .right-panel .site_email_manager h2 span.email-admin{background-position: 0 -28px;}

.left-panel  { width:645px; margin:0 0 40px; padding:0 35px 0 0; float:left;}
    div#content .announcement h1 {padding:0;}
    div#content .left-panel p.description {padding:10px 0 30px;}
div.events .block{ width:295px; margin:0; padding:0 23px 20px 0; float:left; text-align: justify;}
    div#content .events .block h3{padding:0;}


  div#content_data div.left-panel table{
    width: 100%; height: 100%;
    border-spacing:10px 10px;
  }
    div#content_data div.left-panel table th, div#content_data div.left-panel table td{
      text-align: justify;
      vertical-align: top;
    }
    div#content_data div.left-panel table th{
      font-size:15px;
    }

    .col { 
        float: left; 
        display: inline; 
    }

    .col h2.notext { height: 26px; }
    .col .content { padding: 5px 0 0 5px; }
    .col .content p{ text-align: justify;}
    .two-cols, .three-cols, .four-cols{ padding: 28px 0 24px; float: left; }
      .two-cols .last, div#content .three-cols .last, div#content .four-cols .last { padding:0; margin:0;}
      .col_description { height: 135px; border-bottom: 1px solid #D4D4D4; }

    /* 2 cols */
        .two-cols .col { width: 310px;}
        .two-cols .col-equal { width: 460px; margin: 0 10px; }
        .two-cols .col-left { width: 620px; margin-right: 18px; }
        .two-cols .col-right { width: 620px; padding-left:18px; }

    /* 3 cols */
        .three-cols .col { 
            width: 300px; 
            margin-right: 40px; 
        }
    /* 4 cols */
        .four-cols .col { 
            width: 220px; 
            margin: 0 10px; 
        }
