@CHARSET "UTF-8";

body{
  color: #010101;
  padding-bottom: 10px;
}

  #bible_phrase{
     float:left;
     height:49px;
     text-align:right;
  }
      #bible_phrase h1, #bible_phrase h2{
       font-size:12px;
       color:#000;
      }
    #bible_phrase a{
      color:#318bcc;
    }