@CHARSET "UTF-8";

body{
  background-color:#000;
  color:#FFF;
}

#container{
  width: 935px; height:480px;
  margin: 100px auto 0;
}

#message{
	width: 610px;
	margin-top:130px;
	float:right;
	text-align:right;
}
  #message p{
    font-size:14px;
  }
  h1{
    font-size: 4em;
    margin-bottom:50px; 
  }

#error_image{
	float:left;
	width:320px;
}
  #error_image.no_flash_error{
  	background: #000 url(/skin/v1/default/light-blue/art/error/candle.jpg) left top no-repeat;
		height:380px;
  }
  #error_image #error_top{
  	float:left;
  	height:290px;
  }

  #error_image #error_bottom{
  	float:left;
    height:390px;
		width:300px;
		background: #000 url(/skin/v1/default/light-blue/art/error/candle_flash.jpg) left top no-repeat;
  }

  #error_menu{
    float: right;
  }
    #error_menu li{
      float: left;
      background:url(/skin/v1/default/light-blue/art/bks/column_separator.gif) no-repeat right;
    }
    #error_menu li.last_link{
      background-image: none;
    }
    #error_menu a {
      color: #00AEEF;
      font-size: 11px;
      line-height: 40px;
      text-decoration: none;
      padding: 0 12px;
    }
      #error_menu a:hover{
        color:#999;
        text-decoration: underline;
      }
