@CHARSET "UTF-8";

.required{
  background:url(/skin/v1/default/light-blue/art/bks/field_required.png) repeat-y left;
  padding-left:10px;
}

#content_data dd input{ width: 48em; color:#555; }
#content_data button{ background-color: #ccc; cursor: pointer; }

/* contact form */
div.contact-form{
  background-color: #EEE;
  padding:25px;
  margin-top:30px;
}
fieldset dl.field-captcha{
  float:left;
  width: 250px;
}
fieldset dl.field-submit dt#submit-label{
  height: 15px;
}

/* bible-search form */
  div.col form#bible-search input#search{
    width: 20em;
    margin: 0 !important;
  }
  div.option.search form#bible-search input#search{
    width: 20em;
    margin-right:300px;
  }
  form#bible-search fieldset#buttons{
    margin-top:10px;
  }
    form#bible-search label, form#bible-search dt#button-label, div.option.search h1, div.option.info h1, div.option.info p, div.option.books h1, div.option.chapter h1, div.option.summary h1, div.option.verse h1{ color: #fff !important;}
    div.col p.intro{
      height: 112px;
    }

/* comments */
div#comments div#comments-form, div#comments div.comments div.reply-form{
  background-color: #EEEEEE;
  float: left;
  padding:35px;
  width: 910px;
  display:none;
}
  div#comments h1.comment-title{cursor: pointer;}
  div#comments div.comments div.reply-form{
    clear: both;
    width: 700px !important;
    margin: 25px auto 0;
  }

div#comments div.comments div.reply-form ul.form-errors{
  margin-bottom:10px;
}
  ul.form-errors li{
    color: #f00 !important;
    font-size:11px !important;
  }


#content_data #comments dd input{ width: 16.5em; color:#555; }
#content_data #comments dl.type-submit input{ background-color: #ccc; }
  #content_data #comments fieldset.comments-left-group{
    width: 235px;
    float: left;
  }
  #content_data #comments fieldset.comments-right-group{
    width: 675px;
  }

    dd input#captcha{width: 4em !important; margin-top:11px;}

  form#reply dl.field-button{
    float: left;
    margin-right:10px;
  }
    form#comment dt#button-label, form#reply dt#button-label, form#reply dt#cancel-label{
      height: 5px;
    }
      #comments form#reply fieldset.comments-right-group{
        width: 460px;
      }