@CHARSET "UTF-8";

.required{
  background:url(/skin/v1/default/light-blue/art/bks/field_required.png) repeat-y left;
  padding-left:10px;
}

#content_data dd input{ width: 48em; color:#555; }
#content_data dl.type-submit input{ background-color: #ccc; }