@CHARSET "UTF-8";

 .container{
  margin: 0 auto;
  padding:0;
}
/* INTRO */
  div.bible_phrase{
    float:left;
    text-align:right;
    padding:10px 0;
  }
    #content div.bible_phrase h1, .default_phrase h1{
      font-size: 12px;
    }
      .intro_phrase{width: 975px;}
      .default_phrase{width: 700px; height: 55px; margin-left:40px;}


#header, #content, #slider, #bible_phrase, #slogan, #logo_follow_container, span#separator, span#separator_bottom, span#separator_top{
  width: 980px;
  margin: 0 auto;
 }
  #header_container{
    height: 35px;
  }
  #header .intro{
    background:url(/skin/v1/default/light-blue/art/bks/gradient.png) repeat-y;
    height: 80px;
  }

  span.separator, span.separator_down, span.separator_up{
    float:left;
    background: url(/skin/v1/default/light-blue/art/bks/separator.png) no-repeat 0 0;
    width:980px;
    height:15px;
  }
  span.separator_up  { background: url(/skin/v1/default/light-blue/art/bks/separator_up.png) no-repeat 0 0;  }
  span.separator_down{ background: url(/skin/v1/default/light-blue/art/bks/separator_down.png) no-repeat 0 0; }

/* HEADER */

  div#logo_follow_container{
    float: left;
    height:70px;
    padding-top:20px;
    margin-bottom:20px;
    background: url(/skin/v1/default/light-blue/art/bks/separator_down.png) no-repeat top center;
  }
    h1.logo, h1.flexar {
      width: 236px; 
      font-size: 0; 
      line-height: 0; 
      float: left;     
    }
    h1.logo a, h1.flexar a { 
      display: block; 
      height: 50px; 
      text-indent: -4000px; 
      background: url(/skin/v1/default/light-blue/art/logos/iglesia_la_mision_logo_small.png) no-repeat center;
    }
    h1.flexar {
      width: 90px;
    }
    h1.flexar a{
      height: 34px;
      background: url(/skin/v1/default/light-blue/art/logos/flexar.png) no-repeat center;
    }
      h1.logo span{
        color:#164399;
        letter-spacing:0.6px;
      }

        /* LANGUAGE ICON-CHANGER MENUS */
        div#languages{
          float: right;
          width: 20px;
          padding-top:13px;
        }
          div#header_container #header #languages{
            padding-top:5px;
          }
    div#languages h1{
     float:left;
     margin:2px;
     text-indent:-100000px !important;
     width:16px; height:11px;
     cursor:pointer;
    }
     div#languages h1 a{
      display:block;
      width:16px; height:11px;
     }
     h1.es { background-position: -19px -38px; }
     h1.en { background-position: -2px -38px; }

   div.social_networks{
    float: left;
    height: 70px;
    padding-bottom: 10px;
    width: 720px;
   }
     div.right-panel div.social_networks{width: 100%;}

     /* BREADCRUMS */

      #breadcrumbs, #content_data {
        float:left;
        width:980px;
        padding:20px 0;
      }
      #breadcrumbs ul {
        line-height:35px;
        float:left;
      }
      #breadcrumbs ul li {
        float:left;
        padding-left:14px;
        padding-top:1px;
        margin-left:10px;
      }
      #breadcrumbs ul li a {
        display:block;
        font-weight:normal;
        
      }
        #breadcrumbs ul li a:hover {
          text-decoration: underline;
        }
      #breadcrumbs .current, #breadcrumbs .current a {
        font-weight:bold !important;
        font-size:10pt !important;
      }
      
      div#content table.doctrine img{
        border: none;
        width: 200px; height: 133px;
      }

/* CONTENT */

div#content h1, div#content h2, div#content h3 { color:#777; margin:0 0 10px; border-bottom:1px solid #D4D4D4; padding-bottom:10px; }
    div#content h2 { font-size: 19px;}
    div#content h3 { font-size: 17px;}
div#content h1 span, div#content h2 span, div#content h3 span, span.written { display:block; font: normal 11px Arial, Helvetica, sans-serif; color:#b7b7b7; padding:0; margin:0;}

div#content .comment { float:right; width:44px; height:46px; background:url(images/comment_bg.gif) no-repeat; font:normal 22px Arial, Helvetica, sans-serif; color:#a4a4a4; line-height:38px; text-align:center;}
div#content p.about { background:#e6e6e6; border-left:5px solid #cdcdcd; padding:20px; margin:15px 0; font: italic 12px Arial, Helvetica, sans-serif; color:#747474;}
div#content p span { font-size:18px; font-weight:bold; color:#888;}
div#content ul, div#content ol {text-align:justify;}
  div#content ol{list-style: decimal;}
  div#content ol.verse li{ padding:10px 0; font: 12px/1.2em Arial,Helvetica,sans-serif; }
    div#content ol.verse li a { font:12px/1.2em Arial,Helvetica,sans-serif; color:#777;}
    div#content ol.verse li a:hover { color:#B7B7B7;}

div#content ul.list li { float:left; width:50%; padding:3px 0;}
div#content img.noborder { border:0; padding:0; margin:10px 10px 0 0;}
div#content img.none { float:none; margin:0; padding:0; border:none; background:none;}
div#content img.f_left { float:left;}

div.pagination { display:block; text-align:center; height:22px; clear:both; padding:20px; }

div.pagination a:link, div.pagination a:visited{
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #EBEBEB;
    margin-left:10px;
    text-decoration:none;
    background-color:#F5F5F5;
    color:#0072bc;
    width:22px;
    font-weight:normal;
}

div.pagination a:hover {
    background-color:#DDEEFF;
    border:1px solid #BBDDFF;
    color:#0072BC;
    text-decoration:none !important;  
}

div.pagination a.current, div.pagination .current a {
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #DBDBDB;
    margin-left:10px;
    text-decoration:none;
    background-color:#777;
    color:#fff !important;
    cursor:default;
}

div.pagination .disabled_tnt_pagination {
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #EBEBEB;
    margin-left:10px;
    text-decoration:none;
    background-color:#F5F5F5;
    color:#D7D7D7;
    cursor:default;
}

  form#book-selection select, form#chapter-selection select{ width:260px; height:255px;  }
  form#book-selection option.testament{font-size:16px; margin:10px 0; font-weight: bold;  }

  div.poll-options p{color:#55C3FF; font-weight: bold;}
  ol.poll-options li{ margin-left:20px; cursor:pointer;}
    li.voting {list-style: none;}

  div#comments, div.comments{
    width:980px;
    float:left;
  }
    div#content div#content_data div#comments h1{
      margin:15px 0;
    }
    div#comments div#comments-form div.pending{
      float: left;
      margin: 0 auto;
      padding: 10px;
      width: 100%;
    }
    #content #content_data #comments div.comments div{ float: left; width:100%; padding-bottom:30px;}

    div#comments div.comments div.level_1{padding-left:20px; width:915px !important;}
    div#comments div.comments div.level_2{padding-left:40px; width:895px !important;}
    div#comments div.comments div.level_3{padding-left:60px; width:875px !important;}
    div#comments div.comments div.level_4{padding-left:80px; width:855px !important;}
    div#comments div.comments div.level_5{padding-left:100px; width:835px !important;}
    div#comments div.comments div.level_6{padding-left:120px; width:815px !important;}
    div#comments div.comments div.level_7{padding-left:140px; width:795px !important;}
    div#comments div.comments div.level_8{padding-left:160px; width:775px !important;}
    div#comments div.comments div.level_9{padding-left:180px; width:755px !important;}
    div#comments div.comments div.level_10{padding-left:200px; width:735px !important;}
      div#comments div.comments{ margin-top:20px; }
      div#comments div.comments span.separator{ margin-bottom:10px; }
      div#comments div.comments p.no-comments{text-align: center;}
      div#comments div.pending{
        background: transparent url(/skin/v1/default/light-blue/art/bks/pending.gif) repeat center;
        margin-bottom: 25px;
        padding-bottom: 10px !important;
        padding-top: 10px;
      }
      span.pending-msg{
        float: left;
        width: 100%;
        color: #FF0000;
        padding-left: 20px;
      }


    p.reply{
      background: transparent url(/skin/v1/default/light-blue/art/icons/enter-arrow.png) no-repeat scroll top right;
      padding-left:20px;
      background-position: 8px 25px;
    }
    span.written{ float:left; width: 100%; height: 18px; }

a.button {
  background: transparent url(/skin/v1/default/light-blue/art/buttons/button-right.png) no-repeat top right !important;
  display: block;
  float: left;
  height: 25px;
  padding-right: 11px;
  text-decoration: none;
  color: #444444;
}
  a.reply span.reply{
    float: left;
    width: 10px; height: 10px;
    display: block;
    margin: 5px;
    background-image: url("/skin/v1/default/light-blue/art/icons/icons.png");
    background-position: -60px -70px;
  }
    div.replies{
      display:none;
      width: 925px !important;
      padding:20px 50px 0 0 !important;
      margin-bottom:30px;
      background-color: #eee;
    }
    span.replies_hs{
      margin-left:10px;
    }

  /* GUESTBOOK */
div#guestbook-form{
  background-color: #eee;
  padding:20px;
}
  form#guestbook dd input{
    width: 16.5em;
  }
  form#guestbook dd input.gender{
    width: 1.5em;
  }
  fieldset.comments-left-group{
    float:left;
    width: 235px;
  }

  div.sign{
    float:left;
    padding:0 15px;
    margin-bottom:20px;
  }
    div.sign div.author{
      float:left;
      width: 155px;
      margin-right: 10px;
    }
    div.sign span.male, div.sign span.female, div.sign span.flag_mx, div.sign span.created, div.sign span.name{
      float:left;
      display: block;
      margin-right: 10px;
    }
    div.sign span.male, div.sign span.female{
      background: transparent url(/skin/v1/default/light-blue/art/icons/gender.png) no-repeat 0 0;
      width: 63px;
      height: 60px;
    }
    div.sign span.female{
      background-position: -57px 0px;
    }
    div.sign span.created{
      width: 190px;
    }
    div.sign span.name{
      width: 400px;
      text-align: right;
    }
    div.sign blockquote{
      float: left;
      width: 100%;
      padding:10px 0;
      text-align: justify;
    }

/* PREACHING */
  div.preaching{
    float:left;
    width:100%;
    margin-bottom:15px;
  }
  div.preaching div.actions, div.preaching div.description{
    float:left;
    margin-right:15px;
  }
    div.preaching div.date{
      text-align: right;
      font-weight: bolder;
    }
    div.preaching div.description{
      width: 435px;
      text-align: justify;
      margin-right:0;
  }
    div.left-panel span.no-pagination{
      float:left;
      height: 15px; width: 100%;
    }

div.preaching span.icon { background: transparent url(/skin/v1/default/light-blue/art/icons/files.png) no-repeat 0 0; height:48px; width: 48px; float: left; }
  div.preaching span.download { background-position: -48px -48px !important; }
  div.preaching span.download:hover { background-position: -96px -48px !important; }
  div.preaching span.download-off { background-position: 0 -48px !important; }

  div.preaching span.sound { background-position: -48px 0 !important; }
  div.preaching span.sound:hover { background-position: -96px 0 !important; }
  div.preaching span.sound-off { background-position: 0 0 !important; }

  div.preaching span.video { background-position: -48px -96px !important; }
  div.preaching span.video:hover { background-position: -95px -96px !important; }
  div.preaching span.video-off { background-position: 0 -96px !important; }

  div.preaching span.article { background-position: -48px -144px !important; }
  div.preaching span.article:hover { background-position: -96px -144px !important; }
  div.preaching span.article-off { background-position: 0 -144px !important; }


/* END content */

/* FOOTER */
.f_top { padding:0; margin:0; background:#373737; border-bottom:1px solid #333333;}
.f_top_resize { width:910px; margin:0 auto; padding:20px 0;}
.f_top img { float:left; margin:0; padding:0;}
.f_top h2 { font: normal 22px Arial, Helvetica, sans-serif; color:#bebdbd; padding:10px 0; margin:0;}
.f_top p {font: normal 11px Arial, Helvetica, sans-serif; padding:5px 0; margin:0; line-height:1.8em;}
.f_top ul { padding:0; margin:0; list-style:none;}
.f_top li { padding:5px 0; margin:0; }
.f_top li a { font:normal 11px Arial, Helvetica, sans-serif; color:#757575 !important; padding:5px 0 5px 0; margin:0;text-decoration:none;}
.f_top li a:hover { text-decoration:underline; color:#8C9EC3;}
.f_top .blog { width:190px; height:255px; float:left; margin:0 25px 0 0; padding:0 25px 0 0; background:url(/skin/v1/default/light-blue/art/bks/column_separator.gif) repeat-y right;}
  .f_top .operation-hours ul li{
    padding:0;
    font-size:11px;
  }
.f_top .blog.last { padding:0; margin:0; background:none;}

.f_bottom { background:#2e2e2e url(/skin/v1/default/light-blue/art/bks/footer.png) top no-repeat; border-top:1px solid #303030;}
.f_b_container { width:910px; padding:20px 0; margin:0 auto; height:30px; }
.f_b_container p { font:normal 12px Arial, Helvetica, sans-serif; color:#979797;}
.f_b_container a { font:bold 12px Arial, Helvetica, sans-serif; color:#a9a9a9 !important; text-decoration:none; }
.f_b_container p.right { text-align:right; width:350px; margin:0; padding:10px 0; float:right;} 
.f_b_container p.leftt { text-align:left; width:815px; margin:0; padding:10px 0; float:left;}

.icons { background-image: url(/skin/v1/default/light-blue/art/icons/icons.png) !important; background-repeat:no-repeat; height:18px; }
.breadcrums_home { background-position: 0 2px; padding-left: 20px !important; }
.breadcrum { background-position: 0 -16px; }
