@CHARSET "UTF-8";

#bible_phrase{
  float:left;
  text-align:right;
  padding:10px 0;
}
  #content #bible_phrase h1{
    font: normal 12px Helvetica, sans-serif;
    color:#777;
  }

.gradient{ background: url(/skin/v1/default/light-blue/art/bks/gradient.png) repeat-y center center; }