@CHARSET "UTF-8";

/* ALL SITE LINKS */

    a { 
        color: #5c7025; 
        text-decoration: underline !important; 
        cursor: pointer; 
    }
    a:hover { text-decoration: none !important; }
    a img { border: 0; }
