@CHARSET "UTF-8";

/* MAIN MENU */

  #menu{ float:left; width: 980px; }
    .main_menu{ height: 35px;}
    #menu li{
      float: left;
      margin:0 25px 0 0;
      padding:0 25px 0 0;
      background:url(/skin/v1/default/light-blue/art/bks/link_separator.png) no-repeat right;
    }
      #header_container #header #menu li{
        background:none;
        margin:0;
        width: 130px;
      }
    ul#menu.gradient li.first_link{ margin-left: 100px !important; }
    ul#menu.main_menu li.first_link{ margin-left: 45px !important; }
    #menu li.last_link{
      background-image: none;
    }
    #menu a, #menu span.active {
      color: #00AEEF;
      display: block;
      font-size: 11px;
      line-height: 80px;
      text-align: center;
      text-decoration: none;
      padding: 0 10px;
    }
      #header_container #header #menu a, #menu span.active{
        padding-top:8px;
        line-height: 21px;
        background-position: center 50px;
      }
      #menu a:hover, #header_container #header #menu a:hover, #menu li span.active, #header_container #header #menu span.active{
        color:#999;
        background:url(/skin/v1/default/light-blue/art/bks/link_gradient.png) no-repeat center;
      }
        #header_container #header #menu span.active, #header_container #header #menu a:hover{
          background-position: center -103px;
        }
        #header_container #header #menu a:hover{
          text-decoration: underline;
        }

      #menu li a.active{
        text-decoration: none;
      }

  #follow_us{
    float:right;
    margin-top: 25px;
  }
    #follow_us li{
      float: left;
      width: 33px; height: 33px;
      margin-right: 5px;
      background-position: -3px -70px;
      background-repeat: no-repeat;
    }
    #follow_us a {
      display: block;
      text-indent: -4000px;
      width: 33px; height:33px;
      margin-left:5px;
    }
      #follow_us a.facebook   { background-position: -33px 0px; }
        #follow_us a.facebook:hover   { background-position: -33px -33px; }
      #follow_us a.twitter    { background-position: -66px 0px; }
        #follow_us a.twitter:hover    { background-position: -66px -33px; }
      #follow_us a.googleplus { background-position: 0px 0px; }
        #follow_us a.googleplus:hover { background-position: 0px -33px; }
      #follow_us a.youtube    { background-position: -99px 0px;}
        #follow_us a.youtube:hover    { background-position: -99px -33px; }
