.rate-description{ width: 290px; margin-top:5px !important;}

.star-rating{ list-style:none; margin: 0px; padding:0px; width: 105px; height: 20px; position: relative; background: url(/skin/v1/default/light-blue/art/icons/star_rating.png) top left repeat-x;}
.star-rating li{ padding:0px; margin:0px; float: left; }
.star-rating li a{ display:block; width:20px; height: 20px; text-decoration: none; text-indent: -9000px; z-index: 20; position: absolute; padding: 0px;}
.star-rating li a:hover{background: url(/skin/v1/default/light-blue/art/icons/star_rating.png) left; z-index: 1; left: 0px; }

.star-rating a.star-1{left: 0px; }
.star-rating a.star-1:hover{width:20px; }

.star-rating a.star-2{left:20px; }
.star-rating a.star-2:hover{width: 40px; }

.star-rating a.star-3:hover{width: 60px; }
.star-rating a.star-3{left: 40px; }

.star-rating a.star-4{left: 60px; }
.star-rating a.star-4:hover{width: 80px; }

.star-rating a.star-5{left: 80px; }
.star-rating a.star-5:hover{width: 100px; }

/* Resultados */
li.stars-1, li.stars-2 , li.stars-3 , li.stars-4 , li.stars-5{height:20px; z-index: 1; left: 0px;  background: url(/skin/v1/default/light-blue/art/icons/star_rating.png) left bottom; z-index: 1; left: 0px;}

li.stars-1{width:20px; }
li.stars-2{width: 40px;}
li.stars-3{width: 60px;}
li.stars-4{width: 80px;}
li.stars-5{width: 105px;}