   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0; padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit; font-style: inherit; font-size: 12px; font-family: inherit;
        vertical-align: baseline; line-height:20px;
        background: transparent;
        font-family: "Lucida Sans Unicode","Lucida Grande", verdana, arial;
        font-size:0.95em;
   }
    h1,h2,h3,h4,h5{
      font-family: 'Raleway', "Lucida Sans Unicode","Lucida Grande", verdana, arial;
      font-size: 2em; font-weight: lighter;
    }
    h2{
        font-size: 1.5em; font-weight: lighter;
    }
    h3{
        font-size: 1em; font-weight: lighter;
    }
    h4{
        font-size: 0.8em; font-weight: lighter;
    }
    h5{
        font-size: 0.6em; font-weight: lighter;
    }
    strong{
        font-weight: bold;
    }
    small{
        font-size: 0.75em;
    }
    body {
      line-height: 1;
      background: none repeat scroll 0 0 #F4F4F4;
      margin: 0;
      padding: 0;
      width: 100%;
    }    
    blockquote, q {
        quotes: none;
    }    
    /* remember to define focus styles! */
    :focus { outline: 0;} 
    /* remember to highlight inserts somehow! */
    ins {
        text-decoration: none;
    }
    del {
        text-decoration: line-through;
    }

    a, a:link, a:visited, a:hover, a:active{text-decoration:none}

    table { border-collapse: separate;border-spacing: 0;}
    th, td {text-align: left; font-weight: normal;}

    img, iframe {border: none; text-decoration:none;}

    ol, ul {list-style: none;}

    input, textarea, select, button, dt.label,  dd.hint {font-size:12px; padding:2px; border:1px solid #bbb; }
      dt.label,  dd.hint{ border: 0; }
    dd.field .errors li { color:#f00; }
    #content_data dl.type-submit input {width:50px; }
    #content_data dl.type-submit input{ cursor: pointer; }
    #content_data dl.field-captcha span.prepend{ float: left; width: 100%; }
      #content_data dl.field-captcha span.append{ float: left; width: 100px; }
      #content_data dl.field-captcha dd.field{ height: 125px; }
      #content_data dd.field input.captcha { width: 40px; }
      #content_data dl.field-captcha img.captcha { border:0; padding:0; margin: 0; }
      #content_data dl.field-captcha dd.hint { width: 100%; text-align: center;  }
      
    select {margin: inherit;}

    hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}

    .corner-all{ -moz-border-radius: 4px; -webkit-border-radius: 4px;  border-radius: 4px;}
    .round-top{-moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; border-top-left-radius:4px; border-top-right-radius:4px;}
    .round-bot{-moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius:4px; border-bottom-left-radius:4px;}

    .separator { background: url(/skin/v1/default/light-blue/art/separator.gif) repeat-x 0 bottom; }

    .left, .alignleft { float: left; display: inline; }
    .right, .alignright { float: right; display: inline; }

    .clr { font-size: 0; line-height: 0; clear: both; display: block; height: 0; }

    .notext { font-size: 0; line-height: 0; text-indent: -4000px; background-repeat: no-repeat; }

    .al { text-align: left; }
    .ar { text-align: right; }
    .ac { text-align: center; }

    p { padding-bottom: 4px; }

    .transparent{
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5;
    }
    
    .margin-top-15{ margin-top:15px; }
    .margin-top-30{ margin-top:30px; }