   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0; padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit; font-style: inherit; font-size: 12px; font-family: inherit;
        vertical-align: baseline; line-height:20px;
        background: transparent;
        font:normal 12px "Lucida Sans Unicode","Lucida Grande", Tahoma, verdana, arial; line-height:1.8em;
        color: #777;
   }
    h1,h2,h3,h4,h5{
      font-family: "Lucida Sans Unicode","Lucida Grande", Tahoma, verdana, arial;
      font-size: 1.3em; font-weight: lighter;
    }
    h2{
        font-size: 1.1em; font-weight: lighter;
    }
    h3{
        font-size: 0.8em; font-weight: lighter;
    }
    h4{
        font-size: 0.7em; font-weight: lighter;
    }
    h5{
        font-size: 0.5em; font-weight: lighter;
    }
    strong{
        font-weight: bold;
    }
    small{
        font-size: 0.75em;
    }
    body {
      line-height: 1;
      background: none repeat scroll 0 0 #F4F4F4;
      margin: 0;
      padding: 0;
      width: 100%;
    }    
    blockquote, q {
        quotes: none;
    }    
    /* remember to define focus styles! */
    :focus { outline: 0;} 
    /* remember to highlight inserts somehow! */
    ins {
        text-decoration: none;
    }
    del {
        text-decoration: line-through;
    }

    a, a:link, a:visited, a:hover, a:active{text-decoration:none; color:#00A8EC !important;}
    a:hover { text-decoration:underline; color:#388CC2; cursor:pointer;}

    table { border-collapse: separate;border-spacing: 0;}
    th, td {text-align: left; font-weight: normal;}

    img, iframe {border: none; text-decoration:none;}

    ol, ul {list-style: none;}

    input, textarea, select, button, dt.label,  dd.hint {font-size:12px; padding:2px; border:1px solid #bbb; }
      input, textarea, select {background-color:#f9f9f9 !important; }

      dt.label,  dd.hint{ border: 0; }
    dd.field .errors li, .error { color:#f00; }
    #content_data dl.type-submit input{ cursor: pointer; }
    #content_data dl.field-captcha span.prepend{ float: left; width: 150px; }
      #content_data dl.field-captcha span.append{ float: left; width: 210px; }
      #content_data dl.field-captcha dd.field{ height: 75px; }
      #content_data dd.field input.captcha { width: 40px; }
      #content_data dl.field-captcha img.captcha { border:0; padding:0; margin: 0; }
      #content_data dl.field-captcha dd.hint { width: 100%; text-align: center;  }


    select {margin: inherit;}

    hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}

    .corner-all{ border-radius:10px;  -moz-border-radius:10px;  -webkit-border-radius:10px;}
    .round-top{-moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; border-top-left-radius:4px; border-top-right-radius:4px;}
    .round-bot{-moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius:4px; border-bottom-left-radius:4px;}

    .separator { background: url(/skin/v1/default/light-blue/art/separator.gif) repeat-x 0 bottom; }

    .left, .alignleft { float: left; display: inline; }
    .right, .alignright { float: right; display: inline; }

    .clr { font-size: 0; line-height: 0; clear: both; display: block; height: 0; }

    .notext { font-size: 0; line-height: 0; text-indent: -4000px; background-repeat: no-repeat; }

    .al { text-align: left; }
    .ar { text-align: right; }
    .ac { text-align: center; }

    p { padding-bottom: 4px; text-align: justify; }

    .transparent{
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5;
    }

    .margin-top-15{ margin-top:15px; }
    .margin-top-30{ margin-top:30px; }
    .margin-bottom-20{ margin-bottom:20px; }

    .hide{ visibility: hidden; display: none; }
    .empty-listing{ margin-top:50px !important; text-align:center; }

.separator-fix{ margin:0 auto; width:980px; height:20px;}

    div#content h1.no-line, div#content h2.no-line, div#content h3.no-line, div#content h4.no-line, div#content h5.no-line{
      border:0; padding:0;
    }
  .gradient{ background: url(/skin/v1/default/light-blue/art/bks/gradient.png) repeat-y center center; }
  .ajax-loading {
    margin:0pt;
    padding:0pt;
    background: transparent url(/skin/v1/default/light-blue/art/icons/loading.gif) no-repeat scroll 50% 50%;
    width: 100%; height: 35px;
    line-height: 32px;
   }
   span#comment-comma{width:15px; height:11px; position:absolute; left:inherit; z-index:1; background-position:-35px -73px;}
