ul#vtab {
  float: left;
  overflow: hidden;
}

ul#vtab li {
    border-bottom: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    font-size: 0.9em;
    margin-right: 10px;
    padding: 5px 10px 5px 0;
}
  ul#vtab li.doctrine-first{border-top: 1px solid #D4D4D4;}

ul#vtab li a:hover, ul#vtab li a:focus, ul#vtab li a.current {
  color: #000;
}
  ul#vtab li.vtab-selected{
    border-right: none !important;
    border-left: 3px solid #000;
    padding-left: 5px;
    padding-right: 5px !important;
  }

/* Content */

div.vtab div.pane {
  display: none;
  width: 510px;
  float: left;
}

div.vtab p {
  margin-bottom: 1em;
  max-width: 50em;
  line-height: 1.6;
}

div.vtab div.pane img{
  width: 510px;
  height: 90px;
}

div.left-panel ul#vtab.doctrine{width: 170px;}
  div.left-panel div.vtab.doctrine img{width: 500px !important;}
  div.left-panel div.vtab.doctrine div.pane{width: 500px !important;}

div.left-panel ul#vtab.about-us{width: 160px;}
