
/* root element for tabs  */
ul.cell, ul.addons {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #D4D4D4;
}
  ul.addons{
    margin-top:30px !important;
  }

/* single tab */
ul.cell li, ul.addons li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.cell a, ul.addons a {
    float:left;
    display:block;
    padding:5px 10px;
    text-decoration:none;
    border:1px solid #D4D4D4;
    border-bottom:0px;
    height:18px;
    color:#777;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    border-radius: 4px 4px 0 0;
}

ul.cell a:hover, ul.addons a:hover {
    background-color:#F7F7F7;
    color:#333;
}

/* selected tab */
ul.cell a.current, ul.addons a.current {
    border-bottom:1px solid #F4F4F4;
    color:#00A8EC;
    cursor:default;
}


/* tab pane */
.panes div.cell, .panes div.addons {
    display:none;
    padding:15px 20px;
}
  .panes div.addons{padding: 0 !important;}


