@CHARSET "UTF-8";

body{
  background: #f3f3f3 url(/skin/v1/default/admin/art/bks/bk.jpg) repeat-x;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

body header, body header nav{
  margin: auto;
  height: 180px;
}
  body header nav{
    height: 79px;
  }

  body header hgroup{
    width: 100%;
  }
  body header hgroup h1, body header hgroup h2{
    color: #BEBEBE;
    padding: 30px 25px;
    float: left;
  }
  body header hgroup h2{
    float: right;
    font-size: 12px;
    padding: 25px;
    text-align: right;
  }

  body header nav {
    display: table;
    float: left;
    position: relative;
    width: 100%;
    z-index: 500;
  }
    body header nav ul, body header nav ul.current {
      display: table-cell;
      float: left;
    }
    body header nav ul li a {
        display: block;
        float: left;
        height: 40px;
        line-height: 35px;
        padding: 5px 20px 0;
        white-space: nowrap;
    }
      body header nav ul li ul.submenu a {
        height: 35px;
        padding: 0 20px;
      }
      body header nav ul li a:hover, body header nav ul li:hover a {
        cursor: pointer;
        z-index: 100;
      }
      body header nav ul li a:hover, body header nav ul li:hover a{
        cursor: pointer;
        display: block;
        z-index: 200;
      }
      body header nav ul.current li a, body header nav ul.current li ul.submenu li a.current, body header nav ul.current li ul.submenu li a:hover {color:#EEF9C1 !important;}
      body header nav ul.current li ul.submenu li a{color:#94B52C !important;}

      body header nav ul li ul.submenu { display: none; }
        body header nav ul.current li ul.show {
            z-index: 1 !important;
        }
        body header nav ul *:hover ul.submenu, body header nav ul.current li ul.show {
            display: block;
            left: 0;
            position: absolute;
            text-align: left;
            top: 43px;
            width: 100%;
            z-index: 100;
            background: url("/skin/v1/default/admin/art/bks/submenu.jpg") repeat-x scroll 0 0 #F3F3F3;
            height: 35px;
        }
        body header nav ul.current li div.show ul.sub {
            display: table;
            list-style: none outside none;
            padding: 0;
        }
          body header nav ul.current li div.show ul.sub li.sub_show a {
              cursor: default;
          }


  body section div#menu-options{
    margin: 50px auto 0;
    width: 90%;
    height: 45px;
  }
    body section div#menu-options ul{
      width: 150px;
      height: 45px;
      margin-left: 56px;
      background-color: #535353;
      border-radius: 3px 3px 0 0;
    }

  body section article, body footer{
    width:95%;
    float: left;
    margin:50px;
  }

  body section table.admin{
    border-spacing: 0;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px #CCCCCC;
    background-color: #fff;
  }
    body section table.submenu tbody tr.tr_drag td{
      background-color: #777 !important;
      color: #DCE9F9;
    }
    body section table.admin th {
      background-color: #DCE9F9;
      background-image: -moz-linear-gradient(center top , #EBF3FC, #DCE9F9);
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    body section table.admin tbody td, body section table.admin thead th {
      border-left: 1px solid #CCCCCC;
      padding: 10px;
    }
      body section table.admin tfoot td{
        border-top: 1px solid #CCCCCC;
      }
      body section table.admin thead th{
        border-bottom: 1px solid #CCCCCC;
        padding: 0px;
      }

    body section table.admin thead th, body section table.admin tbody td {
      text-align: center;
    }
      body section table.admin tbody td:first-child, body section table.admin thead th:first-child {
        border-left: medium none;
        background-color: #DCE9F9;
      }
        body section table.admin thead th:first-child {
          border-radius: 6px 0 0 0;
        }
      body section table.admin thead th:last-child {
        border-radius: 0 6px 0 0;
      }
    body section table.admin tbody td:nth-child(2), body section table.admin tbody td:nth-child(3){
      text-align: left;
    }


body section table.admin tbody tr:hover {
  background-color: #FaFaFa;
  cursor: pointer;
}
  .saving{
    filter : alpha(opacity=50);
    opacity: 0.5;
    background-color:#EEF9C1;
  }
  .td_error{
    background-color:#D86060;
  }
  body section table.admin tbody tr.submenu.hide{
    display:none;
  }
  body section table.submenu thead tr, body section table.submenu tfoot tr, body section table.admin tbody tr.submenu.show{
    cursor: default !important;
    display:table-row;
  }
    body section table.submenu tfoot button:disabled{ cursor:help; opacity:0.6; filter: alpha(opacity=60); }
    body section table.submenu tfoot button:enabled{cursor: pointer !important;}

    body section table.admin tfoot td{
      text-align: right;
      padding: 10px;
    }



  body section header h1{ margin:0 0 10px; border-bottom:1px solid #D4D4D4; padding-bottom:10px; }
  body section header h1 em { display:block; font: normal 11px Arial, Helvetica, sans-serif; color:#b7b7b7; padding:0; margin:0;}


/* FORMS */
  form input.required, form textarea.required{border-left:3px solid #880000;}
  form input.date {width: 8em !important;}
  form fieldset { padding:10px 10px 10px 16px; border:1px solid #D4D4D4; background-color:#F0F0F0; border-radius:5px; width: 39.8em;}
  form fieldset legend { background: none repeat scroll 0 0 #FFFFFF; border-radius: 5px 5px 5px 5px; padding: 5px 10px; color:#000;}

    form#links fieldset { float:left; width: 52em;}
      form#links fieldset#link_externals { width: 64em;}
    form#links fieldset {margin-right: 20px;}
    form#links fieldset dl { float: left; margin-right: 25px;}
    form#links fieldset input { width: 25em;}
    form#links fieldset textarea { height: 4.5em; margin-right: 20px; width: 25em;}

    div.appendoButtons { float:left; margin-top: 20px;}
    div.appendoButtons button{ float: left; padding: 10px; background-color: #555459; color: #fff;  }




  div.pane div.article-preview{
    float: left;
    width: 200px;
  }
  div.preview h2 { font-size: 1.3em; margin:0 0 10px; border-bottom:1px solid #D4D4D4; padding-bottom:10px; }
  div.preview h2 em {font-size: 1.1em;}
  div.preview h2 span { display:block; font: normal 11px Arial, Helvetica, sans-serif; color:#b7b7b7; padding:0; margin:0;}


  /* ARTICLES ADD */
  form#article-basic-data { float: left; width: 44em; }
  form#article-content{ float: left; width: 77em; }
    form#article-content fieldset#arti{width: 75.5em; }
    div.panes div.pane div.preview { margin: 20px auto 0; padding: 20px; width: 90%;background-color: #F9F9F9;  border: 1px solid #DDDDDD; border-radius: 5px 5px 5px 5px; }
    div.preview div.prev-content{ width: 670px; }

  form#article-basic-data input, form#article-basic-data textarea{ width: 39em;}
  form#article-basic-data dl{ margin-bottom: 10px; }
  form#article-basic-data button{ margin-top:30px; }
  form#article-basic-data label.error { color:red; }

    form fieldset#info{}
    form fieldset#arti{}
    form fieldset#dates{ padding: 10px 0 10px 15px; width: 41em; }
    form fieldset#imageUpload{}
    form fieldset#categories{width: 40.8em;}


  form fieldset#dates dl, form fieldset#properties dl{float:left;}
  form fieldset#properties dl.field-type{padding-right:120px;}




body footer{
  height: 50px;
  margin: 0 50px;
}

/* COLORBOX */
div.colorbox-dialog h1 { color:#777; margin:0 0 10px; border-bottom:1px solid #D4D4D4; padding-bottom:10px; }
div.colorbox-dialog h1 span { display:block; font: normal 11px Arial, Helvetica, sans-serif; color:#b7b7b7; padding:0; margin:0;}

div.colorbox-dialog{
  padding:10px;
}