a:link,a:visited,a:active{
    color:#447581; text-decoration: underline;
}
a:hover   {
    color:#24464E; text-decoration: underline;
}

    /* BLOQUE DE CONTENIDO */
        a.basic:link,a.basic:visited,a.basic:active{
            color:#83A446; text-decoration: underline;
        }
        a.basic:hover   {
            color:#B4CC88;
        }

    /* LINK CLOSE SESSION */
        a.close-sesion:link,a.change-area:link, a.close-sesion:visited,a.change-area:visited, a.close-sesion:active,a.change-area:active{
    		text-decoration: none;
			color:#66ccff; text-shadow: 0 0 10px #bbb !important;
			font-size:0.8em;
			font-weight:normal;
            text-decoration: none;
		}
	    a.close-sesion:hover, a.change-area:hover   {
            color:#bbb; text-shadow: 0 0 15px #fff !important;
        }

    /* LINKS DEL PANEL */
        a.panel:link,a.panel:visited,a.panel:active, a.panel:hover {
            text-decoration:none;
            color:#FF5500;
            font-weight:normal;
        }
        a.panel:hover   {
            color:#FFAA55;
            text-decoration: underline;
        }
        
    /* LINKS DEL DIV SELECCIONADOR DE AREA */
        a.change-area:link,a.change-area:visited,a.change-area:active{
            color:#ff5500;
        }
        a.change-area:hover   {
            color:#FFAA55;
        }
        
    /* LINKS DE ACCIONES DE LOS TABS */
        a.tab-links:link,a.tab-links:visited,a.tab-links:active, a.tab-links:hover {
            text-decoration:none;
            color:#FF5500;
            font-weight:normal;
        }
